<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Posts" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="posts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
    <% @posts.each do |post| %>
      <%= turbo_frame_tag dom_id(post, "card"), src: post_cards_path(post) do %>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
          <%= image_tag post.poster.variant(:loader), class: "inset-0 w-full h-full rounded-t-lg" if post.poster.attached? %>
          <div class="p-3">
            <h1 class="text-2xl font-bold mb-5">
              <hr class="h-px my-8 bg-gray-800 border-gray-800 border-4">
            </h1>

            <p class="my-5">
              <hr class="h-px my-2 bg-gray-200 border-gray-200 border-4">
              <hr class="h-px my-2 bg-gray-200 border-gray-200 border-4">
              <hr class="h-px my-2 bg-gray-200 border-gray-200 border-4">
              <hr class="h-px my-2 bg-gray-200 border-gray-200 border-4">
              <hr class="h-px my-2 bg-gray-200 border-gray-200 border-4">
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
